<body>
  <div class="content">

  </div>
    <!-- <h2>Lig</h2>

    <div id="comments">
      <h2>Yorumlar</h2>
      <div class="comment-content"></div>
      <form id="comment-form">
        <label for="Username">Adınız:</label>
        <input type="text" id="Username" required><br>
    
        <label for="Review">Yorumunuz:</label>
        <textarea id="Review" rows="4" required placeholder="Yorumunuz"></textarea><br>
        
        <button type="submit">Yorum Ekle</button>
    </form> -->
    
  <!-- </div> -->
  <!-- <script>
    // adding comments

    document.querySelector('#comment-form').addEventListener('submit', function(event) {
       event.preventDefault();
       
       // Form verileri
       let name = document.querySelector('#name').value;
       let commentText = document.querySelector('#comment').value;
    
       // Yorumları göstermek için div
       let commentEl = document.createElement('div');
       commentEl.className = 'comment';
    
       // Ad ve yorumu içeren içerik
       commentEl.innerHTML = '<strong>' + name + '</strong>: ' + commentText;
    
       // Yorumları gösterilecek alana ekleme comments divi
       let commentsSection = document.querySelector('#comments');
       commentsSection.appendChild(commentEl);
       console.log(Object.fromEntries(new FormData(document.querySelector('#comment-form'))));

       document.querySelector('#comment-form').reset();
    });
  </script> -->
</body>